/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
	/* colors */
	/* primary */
	--clr-very-dark-gray: 0, 0%, 17%;
	--clr-dark-gray: 0, 0%, 59%;

	/* neutral */
	--clr-light: 0, 0%, 100%;

	/* font-sizes */
	--fs-900: 6.25rem;
	--fs-800: 3.5rem;
	--fs-700: 2.5rem;
	--fs-600: 2rem;
	--fs-500: 1.75rem;
	--fs-400: 1.125rem;
	--fs-300: 1rem;
	--fs-200: 0.875rem;
	--fs-100: 0.75rem;

	/* font weight */
	--fw-700: 700;
	--fw-500: 500;
	--fw-400: 400;

	/* font-families */
	--ff-sans-serif: 'Rubik', sans-serif;
}

@media (max-width: 50em) {
	:root {
		--fs-400: 1rem;
	}
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure,
picture {
	margin: 0;
}

/* set body defaults */

body {
	line-height: 1.8;
	min-height: 100vh;
	background-color: hsl(var(--clr-light));
	color: hsl(var(--clr-very-dark-gray));
	font-family: var(--ff-sans-serif);
	font-size: var(--fs-400);
	margin: 0;
	text-rendering: optimizeSpeed;
}

/* Make images easier to work with */

img,
picture {
	max-width: 100%;
	display: block;
}

/* forms defaults */

input,
button,
textarea,
select {
	font: inherit;
}

/* specifics */
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.block {
	display: block;
}

.container {
	max-width: 90rem;
	padding-inline: var(--pad-inline, 1em);
	margin-inline: auto;
}

.hide {
	display: hidden;
}

.pointer {
	cursor: pointer;
}

.flow > *:where(:not(:first-child)) {
	margin-top: var(--flow-space, 1rem);
}

.flow-left > *:where(:not(:first-child)) {
	border-left: 1px solid hsl(var(--clr-dark-gray));
	padding-left: 2em;
}

/* colors */
.text-light {
	color: hsl(var(--clr-light));
}
.text-dark-gray {
	color: hsl(var(--clr-dark-gray));
}
.text-very-dark-gray {
	color: hsl(var(--clr-very-dark-gray));
}

/* typography */
.ff-sans {
	font-family: var(--ff-sans);
}

.fs-900 {
	font-size: var(--fs-900);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-200 {
	font-size: var(--fs-200);
}
.fs-100 {
	font-size: var(--fs-100);
}

.fw-700 {
	font-weight: 700;
}
.fw-500 {
	font-weight: 500;
}
.fw-400 {
	font-weight: 400;
}

.letter-spacing-1 {
	letter-spacing: 4.75px;
}
.letter-spacing-2 {
	letter-spacing: 2.7px;
}
.letter-spacing-3 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}

main {
	height: 100vh;
}

main > *:first-child {
	background: url(./images/pattern-bg.png);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 100% 100%;
	height: 40vh;
	flex-direction: column;
	text-align: center;
}

main > *:first-child > h1 {
	margin-top: 1em;
}

.search {
	padding: 0.75em 1em;
	border: 1px solid hsl(var(--clr-grayish-blue));
	border-radius: 12px;
	background-color: hsl(var(--clr-light));
	justify-content: space-between;
	position: relative;
	width: min(45em, 100%);
	margin-inline: auto;
}
.search *:nth-child(2) {
	background: hsl(var(--clr-very-dark-gray));
	position: absolute;
	right: 0;
	top: 0;
	width: 3em;
	height: 100%;
	place-items: center;
	border-radius: 0 0.6em 0.6em 0;
	border: 1px solid transparent;
}

.search *:nth-child(2):hover,
.search *:nth-child(2):focus {
	background-color: hsl(var(--clr-very-dark-gray));
}

.search input {
	outline: transparent solid 2px;
	border: none;
	width: 100%;
}

.search input::placeholder {
	color: hsl(var(--clr-dark-gray));
	opacity: 1;
}

.details {
	background-color: hsl(var(--clr-light));
	padding: 3em 2em;
	text-align: left;
	border-radius: 12px;
	z-index: 9999;
	width: min(1200px, 100%);
	margin-inline: auto;
	box-shadow: -3px 12px 22px 12px rgba(0, 0, 0, 0.13);
	justify-content: space-between;
}

#map {
	height: 60vh;
}

@media (min-width: 51em) {
	main > *:first-child {
		--flow-space: 2rem;
	}

	.details > *:where(:not(:first-child)) {
		border-left: 1px solid hsl(var(--clr-dark-gray));
		padding-left: 2em;
	}
}

@media (max-width: 50em) {
	main > *:first-child {
		--flow-space: 0.2rem;
	}
	main > *:first-child > h1 {
		margin-top: 0.5em;
	}

	.details {
		flex-direction: column;
		text-align: center;
		justify-content: space-between;
		padding: 1em 2em;
	}
}
